/* DEFAULT STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body {
    background-color: rgba(0,0,0,0.03) !important;
    height: 100vh;
}
/* loader */
#Home-loader {
    z-index: 99;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#Home-loader img {
    width: 200px;
}
/* END DEFAULT STYLING */


/* ------------------------------------------------------------- HOME PAGE */
/* |||||||||| */



/* ---------------------------------ASIDE */
.main {
    z-index: 1 !important;
}
.main #aside {
    min-height: 93vh;
    border-right: 1px solid #eee;
    background-color: rgba(0,0,0,0.03);
}
.inner-container {
    padding: 50px 20px;
}
.inner-container h6 {
    font-weight: bold;
    font-size: 1rem;
    color: gray;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}


/* |||||||||| */
/* ------------------------------------------------------------- END USERS PAGE */
